---
- name: Build rotarymars-setup-ubuntu deb package
  ansible.builtin.command:
    cmd: bash build.sh
    chdir: "{{ playbook_dir }}/deb-package"
  delegate_to: localhost
  run_once: true
  changed_when: true

- name: Install rotarymars-setup-ubuntu deb package
  become: true
  ansible.builtin.apt:
    deb: "{{ playbook_dir }}/deb-package/rotarymars-setup-ubuntu.deb"
