---
- name: Install asdf to ~/.asdf
  ansible.builtin.git:
    repo: 'https://github.com/asdf-vm/asdf.git'
    dest: ~/.asdf
    depth: 1
    version: v0.13.1

- name: Add plugin for asdf(without destination)
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin add "{{ item.name }}" || true
    asdf install "{{ item.name }}" "{{ item.version }}"
  loop: "{{ asdf_plugins_without_dest }}"

- name: Add plugin for asdf(with destination)
  ansible.builtin.shell: |
    . "$HOME/.asdf/asdf.sh"
    asdf plugin add "{{ item.name }}" "{{ item.url }}" || true
    asdf install "{{ item.name }}" "{{ item.version }}"
  loop: "{{ asdf_plugins_with_dest }}"
