---
- name: Add rotarymars to docker group
  become: true
  ansible.builtin.user:
    name: rotarymars
    groups: docker
    append: yes

- name: Add rotarymars to video group
  become: true
  ansible.builtin.user:
    name: rotarymars
    groups: video
    append: yes

- name: Add rotarymars to dialout group
  become: true
  ansible.builtin.user:
    name: rotarymars
    groups: dialout
    append: yes

- name: Replace capslock to ctrl
  become: true
  ansible.builtin.lineinfile:
    path: /etc/default/keyboard
    regexp: "^XKBOPTIONS="
    line: 'XKBOPTIONS="ctrl:nocaps"'

# - name: install lazygit
# ansible.builtin.shell: |
# LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
# curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/download/v${LAZYGIT_VERSION}/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
# tar xf lazygit.tar.gz lazygit
# sudo install lazygit -D -t /usr/local/bin/

- name: Add source .my-bashrc if not written
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: "source ~/.my-bashrc"

- name: Copy .my-bashrc
  ansible.builtin.template:
    src: ".my-bashrc"
    dest: "~/.my-bashrc"

- name: Ensure .config/lazygit directory exists
  ansible.builtin.file:
    path: "~/.config/lazygit"
    state: directory
    mode: "0755"

- name: Copy lazygit's config.yml
  ansible.builtin.template:
    src: "lazygit_config.yml"
    dest: "~/.config/lazygit/config.yml"

- name: Ensure .zshrc exists
  ansible.builtin.file:
    path: ~/.zshrc
    state: touch
    mode: '0644'
    modification_time: preserve
    access_time: preserve

- name: Add source .my-zshrc if not written
  ansible.builtin.lineinfile:
    path: ~/.zshrc
    line: "source ~/.my-zshrc"

- name: Copy .my-zshrc
  ansible.builtin.template:
    src: ".my-zshrc"
    dest: "~/.my-zshrc"

- name: Copy .hotspot_config.zsh
  ansible.builtin.template:
    src: "hotspot_config.zsh"
    dest: "~/.hotspot_config.zsh"

- name: Copy .xprofile
  ansible.builtin.template:
    src: ".xprofile"
    dest: "~/.xprofile"

- name: Fetch neovim config
  ansible.builtin.git:
    repo: https://github.com/rotarymars/neovim-setup
    dest: "~/.config/nvim"
    update: yes

- name: Fetch atcoder-cli-template
  ansible.builtin.git:
    repo: https://github.com/rotarymars/atcoder-cli-template
    dest: "~/.config/atcoder-cli-nodejs/kyopuro"

- name: Add config for Apple's USB Superdrive
  become: true
  ansible.builtin.template:
    src: 60-apple-superdrive.rules
    dest: /etc/udev/rules.d/60-apple-superdrive.rules

- command: which delta
  register: result
  ignore_errors: true

- name: Install delta if needed
  ansible.builtin.shell: |
    aria2c 'https://github.com/dandavison/delta/releases/download/0.18.2/git-delta_0.18.2_amd64.deb'
    sudo dpkg -i ./git-delta_0.18.2_amd64.deb
    rm ./git-delta_0.18.2_amd64.deb
  when: result is failed

- name: Setup GitHub CLI zsh completions
  become: true
  ansible.builtin.shell: |
    mkdir -p /usr/local/share/zsh/site-functions
    gh completion -s zsh > /usr/local/share/zsh/site-functions/_gh
  args:
    creates: /usr/local/share/zsh/site-functions/_gh
  ignore_errors: true

- name: Install zinit
  ansible.builtin.shell: |
    bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"

